@import url("https://fonts.googleapis.com/css2?family=Nova+Square&display=swap");
@import "./resets";
@import "./variables";

body {
	font-family: "Nova Square", cursive;
	letter-spacing: 0.1rem;
	background: #2d2013;
}

.preloader-div {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff;
	position: fixed;
}

.hide-preloader {
	display: none !important;
}

.container {
	width: 80%;
	margin: 0 auto;

	.header {
		text-align: center;
		margin: 3rem 0;

		.project-name {
			font-size: 1.8rem;
			color: $para-6;
			text-transform: capitalize;
			margin-bottom: 10px;
		}

		.underline {
			width: 70px;
			height: 4px;
			background: $primary-color-5;
			border-radius: 5px;
			margin: auto;
		}
	}

	.flex-column {
		display: flex;
		justify-content: space-between;
		// margin-bottom: 1rem;

		@media (max-width: 500px) {
			flex-direction: column;

			form {
				margin-bottom: 1rem !important;
				margin: auto;
			}

			#categories {
				margin: auto;
			}
		}

		form {
			display: flex;
			#search {
				padding: 0.5rem;
				background: $primary-color-8;
				border-radius: 5px 0 0 5px;
				color: $heading-1;
				letter-spacing: 0.1rem;
				border: none;
				outline: none;
				font-size: 1rem;
			}

			button {
				padding: 0.5rem;
				background: $primary-color-8;
				border-radius: 0 5px 5px 0;
				color: $heading-1;
				letter-spacing: 0.1rem;
				border: none;
				outline: none;
				font-size: 1rem;
			}
		}

		#categories {
			padding: 0.5rem;
			background: $primary-color-5;
			border: none;
			border-radius: 5px;
			letter-spacing: 0.1rem;
			font-size: 1rem;
			text-transform: capitalize;
			outline: none;
			color: $heading-1;
			width: 130px;
		}
	}

	.menu {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 3rem;
		text-align: center;

		.loader-div {
			margin: 0 auto;
			img {
				width: 200px !important;
				height: 200px !important;
			}
		}

		.loader-div-none {
			display: none !important;
		}

		.meal {
			flex: 1;
			margin-top: 3rem;
			.meal-img {
				margin: auto;
				width: 270px;
				height: 170px;

				img {
					border: 3px solid $primary-color-5;
					width: 100%;
					height: 100%;
					border-radius: 8px;
				}
			}

			.meal-details {
				margin-top: 1.2rem;
				h3 {
					margin-bottom: 0.8rem;
					text-transform: capitalize;
					color: $para-4;
				}

				p {
					color: $para-1;
					margin-bottom: 1.3rem;
					padding: 0 1rem;
				}

				a {
					color: $heading-3;
					background: $primary-color-8;
					border-radius: 5px;
					padding: 0.3rem 0.5rem;
					text-decoration: none;
					transition: background 0.5s linear;

					&:hover {
						background: $heading-4;
						color: #fff;
					}

					.fab {
						color: rgb(241, 100, 100);
					}
				}
			}
		}
	}

	#searchResults {
		text-align: center;
		color: #fff;
		text-transform: capitalize;

		.searchText {
			color: $primary-color-5;
		}
	}
}
