@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	letter-spacing: 0.1rem;
}

body {
	font-family: "Roboto", sans-serif;
	background: #f1f5f8;
}

.header {
	text-align: center;
	margin: 1rem 0;
}
.header .title {
	margin-bottom: 1rem;
}

.header .title .project-name {
	color: hsl(211, 39%, 23%);
	margin-bottom: 5px;
	font-size: 1.7rem;
	text-transform: capitalize;
}

.underline {
	width: 100px;
	height: 4px;
	background: hsl(205, 89%, 70%);
	border-radius: 4px;
	margin: auto;
}
.btn {
	border: none;
	outline: none;
	background: #49a6e9;
	border-radius: 50px;
	padding: 0.5rem;
	font-size: 1rem;
	margin-top: 1rem;
	cursor: pointer;
	transition: all 0.3s linear;
}

.btn:hover {
	background: #fff;
}

.container {
	width: 85%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	margin-top: 2rem;
}

.container .box {
	width: 240px;
	margin: auto;
	margin-bottom: 2rem;
	height: 200px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	letter-spacing: 0.2rem;
	text-transform: uppercase;
	transition: all 0.5s linear;
	color: #f1f5f8;
}

.box:hover {
	transform: scale(1.1);
	box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.75);
}

.box h1 {
	border-radius: 4px;
	background: rgba(0, 0, 0, 0.3);
	padding: 0.3rem;
}
